--------------------------------------------------------------------------------
--                                   rc.lua                                   --
--------------------------------------------------------------------------------
-- TODO: Rewrite theme                                                        --
--       Move top bar to its own file                                         --
--------------------------------------------------------------------------------

----- [ Dependencies ] ---------------------------------------------------------
-- Standard awesome library
gears = require("gears")
awful = require("awful")
require("awful.autofocus")
-- Widget and layout library
wibox = require("wibox")
-- Theme handling library
beautiful = require("beautiful")
-- Notification library
local naughty = require("naughty")
local menubar = require("menubar")
local hotkeys_popup = require("awful.hotkeys_popup")

-- Theme
beautiful.init("~/.config/awesome/theme.lua")

----- [ External Config ] ------------------------------------------------------
require("keybindings")    -- My default keybindings
require("rules")          -- Window Rules
require("vars")           -- Variables
-- Disable when using smart_borders for a perfomance boost:
require("titlebars")      -- Titlebar config
-- Enable for smart_borders
-- note: you will need to do some DIY because i removed the module ol
-- require("smart_borders")  -- Border config (technically made of titlebars)
require("widgets")        -- Topbar widgets
require("signals")
require("tags") 
require("wallpaper") -- Set custom wallpaper
require("mouse")
require("utilities") 
-- Lain
local lain = require("lain")
local separators = lain.util.separators
local markup = lain.util.markup
-- Bling
----- [ Variables ] ------------------------------------------------------------

-- Enabled layouts
awful.layout.layouts = {
  awful.layout.suit.tile,
  awful.layout.suit.tile.top,
  awful.layout.suit.max.fullscreen,
}

----- [ Error Handling ] -------------------------------------------------------
-- Check if awesome encountered an error during startup and fell back to
-- another config (This code will only ever execute for the fallback config)
if awesome.startup_errors then
  naughty.notify(
    { 
      preset = naughty.config.presets.critical,
      title = "Oops, there were errors during startup!",
      text = awesome.startup_errors 
    }
  )
end

-- Handle runtime errors after startup
do
  local in_error = false
    awesome.connect_signal("debug::error", function (err)
    -- Make sure we don't go into an endless error loop
      if in_error then return end
        in_error = true
        naughty.notify(
          { 
            preset = naughty.config.presets.critical,
            title = "Oops, an error happened!",
            text = tostring(err) 
          })
        in_error = false
    end)
  end

----- [ Menu ] -----------------------------------------------------------------
-- Create a launcher widget and a main menu
awesomeMenu = {
   { "hotkeys", function() hotkeys_popup.show_help(nil, awful.screen.focused()) end },
   { "edit config", terminal .. " chezmoi edit " .. awesome.conffile },
   { "restart awesome", awesome.restart },
   { "quit", function() awesome.quit() end },
}

browserMenu = {
  { "qutebrowser", function() awful.util.spawn("qutebrowser") end },
  { "firefox",     function() awful.util.spawn("firefox") end },
}
funMenu = {
  { "youtube",     function() awful.util.spawn("freetube") end },
  { "minecraft",   function() awful.util.spawn("minecraft-launcher") end },
  { "steam",       function() awful.util.spawn("steam") end },
}

mainMenu = awful.menu(
  { items = { 
      { "browsers", browserMenu },
      { "fun", funMenu },
      { "terminal", terminal, beautiful.terminal_icon },
      { "search programs", function () awful.util.spawn("rofi -show drun") end, beautiful.list_icon },
      { "search windows",  function () awful.util.spawn("rofi -show window") end, beautiful.window_icon },
      { "search files",    function () awful.util.spawn("rofi -show filebrowser -theme-str '#listview {lines:6;}'") end, beautiful.folder_icon },
      { "awesome", awesomeMenu, beautiful.awesome_icon },

    }
  })

mainLauncher = awful.widget.launcher(
  { 
    image = beautiful.awesome_icon,
    menu = mainMenu,
  })


awful.screen.connect_for_each_screen(function(s)
  setWallpaper(s)
  setTags(s)
    
  -- Quake application
  s.quake = lain.util.quake({
    app = "kitty",
    name = "Quake",
    argname = "--name Quake",
    border = theme_border_width
  })

  -- Create an imagebox widget which will contain an icon indicating which layout we're using.
  -- We need one layoutbox per screen.
  s.mylayoutbox = awful.widget.layoutbox(s)
  s.mylayoutbox:buttons(gears.table.join(
    awful.button({ }, 1, function () awful.layout.inc( 1) end),
    awful.button({ }, 3, function () awful.layout.inc(-1) end),
    awful.button({ }, 4, function () awful.layout.inc( 1) end),
    awful.button({ }, 5, function () awful.layout.inc(-1) end)))
  -- Create a taglist widget
  s.mytaglist = awful.widget.taglist {
    screen  = s,
    filter  = awful.widget.taglist.filter.all,
    buttons = taglist_buttons,
    style   = {
      font = "linja lipamanka 18"
    } 
  }

  -- Create the wibox
  s.mywibox = awful.wibar(
  { 
    position = "top", 
    screen = s, 
    height = 40
  })

  -- Add widgets to the wibox
  s.mywibox:setup {
    layout = wibox.layout.align.horizontal,
    expand = "none",

    { -- Left widgets
      layout = wibox.layout.fixed.horizontal,
      wibox.container.background(mainLauncher, theme_select),
      frontInfo,
      localDate,
      wibox.container.background(weather,      theme_select),

      wibox.container.background(cpuIcon, theme_bg),
      wibox.container.background(cpuInfo, theme_bg),

      wibox.container.background(ramIcon, theme_select),
      wibox.container.background(ramInfo, theme_select),


    },
    
      s.mytaglist,
    -- dummy, -- Only needed when there are no middle widgets
    { -- Right widgets
      layout = wibox.layout.fixed.horizontal,
      -- fill_space = true, -- forces the last widget to get a little bigger

      wibox.container.background(moon,         theme_bg),




      wibox.widget.systray(),
      {{- if eq .chezmoi.hostname "LAPRATS-2023MNT21" }}
      -- Display wifi and bluetooth information
      -- This section was added automatically by chezmoi
      wibox.container.background(blueIcon, theme_bg),
      wibox.container.background(wifiIcon, theme_bg),
      {{- end }}
      wibox.container.background(s.mylayoutbox, theme_bg),
      
      wibox.container.background(volIcon, theme_select),
      wibox.container.background(volInfo, theme_select),

      {{- if eq .chezmoi.hostname "LAPRATS-2023MNT21" }}
      -- Display battery information
      -- This section was added automatically by chezmoi
      wibox.container.background(batInIcon, theme_bg),
      wibox.container.background(batExIcon, theme_bg),
      wibox.container.background(batInInfo, theme_bg),
      wibox.container.background(batExInfo, theme_bg),
      wibox.container.background(watts, theme_select),
      {{- end }}
      wibox.container.background(localTime, theme_blue)
    }

    
  }
end)

----- [ Mouse Support ] --------------------------------------------------------

-- clientbuttons = gears.table.join(
--   awful.button({ }, 1, function (c)
--     c:emit_signal("request::activate", "mouse_click", {raise = true})
--   end),
--   awful.button({ modkey }, 1, function (c)
--     c:emit_signal("request::activate", "mouse_click", {raise = true})
--     awful.mouse.client.move(c)
--   end),
--   awful.button({ modkey }, 3, function (c)
--     c:emit_signal("request::activate", "mouse_click", {raise = true})
--     awful.mouse.client.resize(c)
--   end)
-- )


root.buttons(gears.table.join(
    awful.button({ }, 3, function () mainMenu:toggle() end)
))

-- Set keys
root.keys(globalkeys)
