-- This config was generated for {{ .chezmoi.hostname }}

local xresources = require("beautiful.xresources")
local dpi = xresources.apply_dpi 
----- [ General ] --------------------------------------------------------------
testing = false

modkey     = "Mod4" -- GUI/Super/Meta/Windows etc
terminal   = "xterm"
editor     = os.getenv("EDITOR") or "vim"
editor_cmd = terminal .. " -e " .. editor
homeRow = {"a", "r", "s", "t", "g", "m", "n", "e", "i", "o", "semicolon" }
totalTags = 3 -- todo: get rid of this

-- Enabled layouts
awful.layout.layouts = {
  awful.layout.suit.tile,
  awful.layout.suit.tile.bottom,
  awful.layout.suit.max.fullscreen,
}
----- [ Device Config ] -------------------------------------------------------
{{- if eq .chezmoi.hostname "DESKRATS-2020MNT21" }}
frontTimeout = 300
pyradioGeometry = {x=0, y=31, height=62, width=1906} 
terminalGeometry = {x=0, y=31, height=292, width=1906}
notificationWidth = 600
{{- else if eq .chezmoi.hostname "mango-L2123L" }}
frontTimeout = 5
pyradioGeometry = {x=0, y=27, height=62, width=1358}
terminalGeometry = {x=0, y=27, height=292, width=1358}
notificationWidth = 685

{{ else }}
-- This machine wasn't recognized by Chezmoi
frontTimeout = 600
pyradioGeometry = {x=0, y=27, height=62, width=1358}
terminalGeometry = {x=0, y=27, height=292, width=1358}
notificationWidth = 600
{{ end }}
