--------------------------------------------------------------------------------
--                                  vars.lua                                  --
--                                                                            --
-- Last edit: 26/03/23                        Made with love by kulupu Mimuki --
--------------------------------------------------------------------------------
-- TODO: Maybe only have todo files in the main rc.lua?                       --
--------------------------------------------------------------------------------
local beautiful = require("beautiful")
local xresources = require("beautiful.xresources")
local dpi = xresources.apply_dpi 
----- [ General ] --------------------------------------------------------------


modkey = "Mod4" -- GUI/Super/Meta/Windows etc
terminal = "kitty"
editor = os.getenv("EDITOR") or "vim"
editor_cmd = terminal .. " -e " .. editor

----- [ Widgets ] --------------------------------------------------------------
-- 
-- This is generated automatically by Chezmoi
{{- if eq .chezmoi.hostname "DESKRATS-2020MNT21" }}
-- This machine should be DESKRATS-2020MNT21
frontTimeout = 300
{{- else if eq .chezmoi.hostname "LAPRATS-2023MNT21" }}
-- This machine should be LAPRATS-2023MNT21
frontTimeout = 5
{{ else }}
-- This machine wasn't recognized by Chezmoi
frontTimeout = 600
{{ end }}
----- [ Colours ] --------------------------------------------------------------

theme_red    = "#ff5555"
theme_orange = "#ffb86c"
theme_yellow = "#f1fa8c"
theme_green  = "#50fa7b"
theme_blue   = "#8be9fd"
theme_purple = "#bd93f9"
theme_pink   = "#ff79c6"

theme_bg     = "#282a36"
theme_fg     = "#f8f8f2"
theme_select = "#44475a"
theme_accent = theme_purple

theme_accent_alt = theme_pink
theme_special = "#6272a4"

beautiful.border_color_floating_active = theme_pink

----- [ Fonts ] --------------------------------------------------------------
theme_font = "Bad Comic 18"
theme_icon = "Font Awesome 6 Free 14"
theme_border_width = dpi(7)
theme_useless_gap = dpi(0)

