function buildWibar(s)
  -- Create the wibox
  s.mywibox = awful.wibar(
  { 
    position = "top", 
    screen = s, 
    -- Only as tall as the main font
    -- Avoids funny colour & scaling issues
    height = beautiful.get_font_height(beautiful.font)
  })

  -- Add widgets to the wibox
  s.mywibox:setup {
    layout = wibox.layout.align.horizontal,
    { -- Left widgets
      layout = wibox.layout.fixed.horizontal,
      --s.mylayoutbox,
      s.mytasklist,
      s.mytaglist,
      localDate,
      wibox.widget.systray(),
      {{- if eq .chezmoi.hostname "mango-L2123L" }}
      -- Display wifi and bluetooth information
      -- This section was added automatically by chezmoi
      blueIcon,
      wifiIcon,
      {{- end }}
    },
    -- Center widgets
      dummyWidget,
    { -- Right widgets
      layout = wibox.layout.fixed.horizontal,
      wibox.container.background(ramIcon, "#b8bff222"),
      cpuStack,
      ramStack,
      spacer,
      {{- if eq .chezmoi.hostname "mango-L2123L" }}
      -- Display battery information
      -- This section was added automatically by chezmoi
      batStack,
      spacer,
      watts,
      spacer,
      {{- end }}
      wibox.container.background(localTime, beautiful.blue)
    }
  }
end
