 ////////////////////////////////////////////////////////////////////////////////
//                                config.rasi                                 //
////////////////////////////////////////////////////////////////////////////////

configuration {
	modi: "window,drun,ssh,filebrowser";
}
// ---[Globals]-------------------------------------------------------------- //
// NOTE : these properties are inherited for all "named" elements below
* {
  black: #000000;
  white: #FFFFFF;
  darkgrey: #BDBDBD;
  lightgrey: #EDEDED;

  error:      @black;
  warn:       @darkgrey;

  bg:         @white;
  fg:         @black;

// Rofi

  background-color:               @white;
  text-color:                     @black;

// Normal state

  normal-foreground:              @black;
  normal-background:              @white;

  alternate-normal-background:    @white;
  alternate-normal-foreground:    @black;

  selected-normal-foreground:     @black;
  selected-normal-background:     @lightgrey;

// Active state

  active-foreground:              @white;
  active-background:              @darkgrey;

  alternate-active-foreground:    @black;
  alternate-active-background:    @white;

  selected-active-foreground:     @white;
  selected-active-background:     @black;

// Urgent state

  urgent-foreground:              @warn;
  urgent-background:              @white;

  alternate-urgent-foreground:    @warn;
  alternate-urgent-background:    @warn;

  selected-urgent-foreground:     @black;
  selected-urgent-background:     @white;

// Misc

  border-color:                   @black;
  border:                         0;
  padding:                        0;
  spacing:                        0;
  margin:                         0;
}

#window {
    border:             1px;
    padding:            0px;
    location:           center;
    anchor:             center;
    fullscreen:         false;
{{ if eq ( trunc 1 .chezmoi.hostname ) "L" }}
    width:              50%;
{{ else }}
    width:              40%;
{{ end }}
    x-offset:           0;
    y-offset:           0;
    font: 		"CozetteHiDpi 18";

}

#scrollbar {
    handle-width:       6px;
    handle-color:       @black;
    padding:            1px;
}


#mainbox {
    padding:		0px;
}

#message {
    border:             0px solid 0px 0px;
    padding:            0px 8px 8px 8px;
    border-color: @white;

}

#textbox {
    text-color: @black;
    background-color: @white;
    padding: 5px 17px;
    border: 8px;
    border-color: @white;

}

#listview {
    columns:            1;
    fixed-height:       true;
    border:             0px solid 0px 0px;
    border-color:       @black;
    dynamic:            true;
    scrollbar:          false;
    cycle:              true;
    spacing:            0px;
    padding:            -5px;
    lines:              8;
    orientation:        vertical;
}


#element {
    padding:            8px 15px 2px 15px;
}

#element.normal.normal {
}

#element.normal.urgent {
    background-color:   @warn;
    text-color:         @white;
}

#element.normal.active {
    background-color:   @black;
    text-color:         @white;
}

#element.selected.normal {
    background-color:   @lightgrey;
    text-color:         @black;
}

#element.selected.urgent {
    background-color:   @lightgrey;
    text-color:         @white;
}

#element.selected.active {
    background-color:   @lightgrey;
    text-color:         @black;
}

#element.alternate.normal {
    background-color:   @white;
    text-color:         @black;
}

#element.alternate.urgent {
    background-color:   @black;
    text-color:         @white;
}

#element.alternate.active {
    background-color:   @black;
    text-color:         @white;
}

#sidebar {
    border:             1px solid 0px 0px;
}

#button.selected {
    background-color:   @black;
    text-color:         @white;
}

#case-indicator {
    background-color:   @darkgrey;
}

#entry {
    text-color:   @black;
}

#prompt {
    text-color:         @black;
}

#inputbar {
    children:           [prompt, textbox-prompt-colon, entry, case-indicator];
    padding:            15px;
}

#textbox-prompt-colon {
    expand:             false;
    str:                " ";
    text-color:         @black;
}
