[submodule "dot_config/awesome/lain"]
	path = dot_config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "dot_themes/private_Dracula/gtk"]
	path = dot_themes/gtk
	url = https://github.com/dracula/gtk
[submodule "dracula"]
	path = dot_config/qutebrowser/dracula
	url = https://github.com/mimuki/qutebrowser-dracula
