[submodule "dot_config/awesome/modules/smart_borders"]
	path = dot_config/awesome/modules/smart_borders
	url = https://github.com/intrntbrn/smart_borders
[submodule "dot_config/awesome/lain"]
	path = dot_config/awesome/lain
	url = https://github.com/lcpz/lain.git
