# This is the file that runs stuff on boot
# -- [ Universal ] ----------------------------------------------------------- #
keynav "loadconfig ~/.config/keynav/.keynavrc"

# this makes bitwarden cli work
keyctl link @u @s

# this makes the graphical "enter your password" thing work
mate-polkit
# needed for talon, i hate it here
snixembed &
talon &
gammastep & 
# -- [ Machine Specific ] ---------------------------------------------------- #
{{- if eq .chezmoi.hostname "mango-L2123L" }}
# Make Caps Lock a Control key
setxkbmap -option ctrl:nocaps

# Switch between screens with a keybind
barrierc --disable-crypto
# Disable bluetooth by default
bluetooth off
# Set track point speed
# Note: This assumes nothing is plugged in on boot
xinput --set-prop "12" "libinput Accel Speed" -0.3
{{- end }}

{{- if eq .chezmoi.hostname "DESKRATS-2020MNT21" }}
# This device should be: DESKRATS-2020MNT21
# Switch between screens with a keybind
# todo: look into ssl stuff
barriers --screen-change-script ~/.config/awesome/scripts/screen_switch.sh --disable-crypto
# Reduce screen tearing
xrandr --output HDMI-0 --mode 1920x1080 --rate 74.99

# compositor (allows for transparency)
# literally only use it for live captions
# is a bit funny with keynav, should try and use a different one some day
picom --experimental-backends &

{{- end }}


