# This is the file that runs stuff on boot
# -- [ Universal ] ----------------------------------------------------------- #
keynav "loadconfig ~/.config/keynav/.keynavrc"

# this makes bitwarden cli work
keyctl link @u @s

# this makes the graphical "enter your password" thing work
mate-polkit
# needed for talon, i hate it here
snixembed &
talon &

~/.config/picom/new_shader.sh
gammastep & 
# -- [ Machine Specific ] ---------------------------------------------------- #
{{- if eq .chezmoi.hostname "L23LDE12" }}
# Make Caps Lock a Control key
setxkbmap -option ctrl:nocaps

# Disable bluetooth by default
bluetooth off
# Set track point speed
# Note: This assumes nothing is plugged in on boot
xinput --set-prop "12" "libinput Accel Speed" -0.3
{{- end }}

{{- if eq .chezmoi.hostname "D20LMI21" }}
# Reduce screen tearing
xrandr --output HDMI-0 --mode 1920x1080 --rate 74.99
{{- end }}


