{{ if eq .chezmoi.osRelease.id "debian" -}}
#!/bin/sh
# Enable bitmap fonts
sudo dpkg-reconfigure fontconfig-config
# Sensible firefox defaults (opt out of telemetry, disable sponsored junk, etc)
sudo cp ~/.local/share/chezmoi/firefox_policies.json /usr/lib/firefox-esr/distribution/policies.json
{{ end -}}
