  /* Discord Root Colors */
  --brand-experiment: var(--accent) !important;
  --header-primary: var(--fg) !important;
  --background-primary: var(--bg) !important;
  --background-secondary: var(--bg) !important;
  --background-mobile-primary: var(--bg) !important;
  --background-mobile-secondary: var(--bg) !important;
  --background-secondary-alt: var(--bg) !important;
  --background-tertiary: var(--lolight) !important;
  --background-accent: var(--hilight) !important;
  --background-floating: var(--bg) !important;
  --background-modifier-selected: var(--hilight) !important;
  --activity-card-background: var(--bg) !important;
  --interactive-normal: var(--fg) !important;
  --interactive-active: var(--accent) !important;
  --channeltextarea-background: var(--hilight) !important;
  --channels-default: var(--fg) !important;
  --rs-online-color: var(--green) !important;
  --rs-idle-color: var(--orange) !important;
  --rs-dnd-color: var(--red) !important;
  --rs-offline-color: var(--hilight) !important;
  --rs-streaming-color: var(--purple) !important;
  --rs-invisible-color: var(--comment) !important;
  --interactive-muted: var(--hilight) !important;
  --scrollbar-auto-thumb: var(--comment) !important;
  --scrollbar-auto-track: var(--lolight) !important;
  --scrollbar-thin-thumb: var(--comment) !important;
  --scrollbar-auto-scrollbar-color-thumb: var(--comment) !important;
  --scrollbar-auto-scrollbar-color-track: var(--lolight) !important;
  --bg-overlay-selected: var(--accent-fg) !important;
  --bg-overlay-hover: var(--hilight) !important;
  --radius-xs: 0 !important;
  --text-positive: var(--green) !important;
  --primary-700: var(--lolight) !important;
  --text-link: var(--blue) !important;
}

:focus {
  outline: 3px solid var(--accent-alt) !important;
  outline-offset: -3px;
}

* {
  font-family: "Andika Rats" !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.rem-3kT9wc.botTag-7aX5WZ {
  display: none !important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: var(--comment) !important;
}

/* Home */
.container-2cd8Mz {
  background-color: var(--bg) !important;
}

/* Autocomplete popup */
.autocomplete-3NRXG8 {
  background-color: var(--bg) !important;
}

.autocomplete-3jLKbj {
  background-color: var(--bg) !important;
}

/* Autocomplete popup selection */
.selected-3H3-RC {
  background-color: var(--hilight) !important;
}

/* Friends Menu Header */
.container-ZMc96U.themed-Hp1KC_{
  background-color: var(--bg) !important;
}

/* Emoji/Gif Selector Box*/
.contentWrapper-3vHNP2,
.container-3u7RcY,
.wrapper-1NNaWG,
.wrapper-1NNaWG,
.inspector-DFKXwB,
.wrapper-22rqw6,
.listWrapper-2nHLP8,
.categoryItem-1sHzUv,
.guildIcon-2SUGiq,
.header-11eigE{
  background-color: var(--bg) !important;
}
.container-1SX9VC,
.container-2oNtJn{
  background-color: var(--hilight) !important;
}

/* Scroll Bar */
.theme-dark
  .scrollerThemed-2oenus.themedWithTrack-q8E3vB
  .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: var(--hilight) !important;
}

/* Settings Content Pane */
.contentRegion-3HkfJJ {
  border-width: 0px !important;
}


/* --[ Borders and Focus ]--------------------------------------------------- */

/* The text entry part*/
.form-3gdLxP {
  border: var(--hilight) solid;
  border-width: 4px !important;
}
/* Avoid a double outline */
.markup-eYLPri.editor-H2NA06.slateTextArea-27tjG0.fontSize20Padding-1vWJeR:focus {
  box-shadow: none !important;
  outline: none !important;
}
/*.chatContent-3KubbW:focus-within,*/
.messagesWrapper-RpOMA3:focus-within,
.form-3gdLxP:focus-within,
.members-3WRCEx:focus-within,
.scroller-1ox3I2:focus-within,
.panels-3wFtMD:focus-within,
.tree-3agP2X:focus-within,
.container-ZMc96U.themed-Hp1KC_:focus-within,
.header-3OsQeK:focus-within {
  border-color: var(--accent) !important;
}


/* Search Bar */
.searchBar-zdmu7v {
  border-color: red !important;
  border-width: 10px !important;
}
.searchBar-3TnChZ {
  border-width: 0px !important;
}
/* People, Game Library, Nitro */
.peopleColumn-1wMU14,
.container-3u6dG-,
.scroller-9moviB {
  border-width: 4px !important;
}
/* Now Playing Column */
.nowPlayingColumn-1eCBCN {
  border-width: 4px 4px 4px 0 !important;
}
/* -- [ Aesthetic Tweaks ] -------------------------------------------------- */
/* Message input's spacing is weird by default */
.form-3gdLxP {
  padding: 0px !important;
  margin: 0px !important;
}
/* slightly taller so theres no scrollbar when its empty */
.textArea-2CLwUE {
  min-height: 50px !important;
}
/* Message input has a bubble, i don't like that */
.scrollableContainer-15eg7h {
  background-color: transparent !important;
}

/* no shadow under the channel name
    why the fuck did i need to add this */
.content-1jQy2l::before {
  box-shadow: none !important;
  }

/* make channel name similar size to server name */
.title-31SJ6t {
  padding: 24px 0
}

/* other stuff------------ */

/* Pinned Message Box*/
.header-1w9Q93{
  background-color: var(--bg);
}
.messagesPopout-eVzQcI{
  background-color: var(--lolight);
}
.messageGroupWrapper-1jf_7C{
  background-color: var(--bg);
}

/* Create DM Popout */
.popout-3gby1q {
    background-color: var(--bg);
}
/* Search field */
.searchBarComponent-18D6hD {
    background-color: var(--lolight);
}
/* Selected friend */
.friendSelected-3cwmD7 {
    background-color: var(--hilight);
}
/* Added to the list */
.anchor-1MIwyf {
    background-color: var(--bg);
}

/* Inbox Popout */
.header-145e10, .header-1w9Q93 {
    background-color: var(--bg);
}
/* Active Tab selected text */
.active-1grPyy {
    background-color: var(--lolight);
}
/* Popout container */
.messagesPopout-eVzQcI {
    background-color: var(--lolight);
}
/* Channel Header */
.channelHeader-DFRX8q{
    background-color: var(--lolight);
}
/* List element */
.container-iA3Qrz {
    background-color: var(--lolight);
}
/* Message Content */
.messageContainer-3VTXBC {
    background-color: var(--bg);
}

/* Unread list */
.scroller-145h9c {
    background-color: var(--lolight);
}
/* Unread messages */
.messages-23can0 {
    background-color: var(--bg);
}

/* For you tab */
.container-1A0qQO {
    background-color: var(--lolight);
}

/* Syntax Highlighing in Code Blocks*/
code {
  color: var(--fg) !important;
}
span.hljs-built_in {
  color: var(--purple) !important;
}
span.hljs-keyword {
  color: var(--pink) !important;
}
span.hljs-title {
  color: var(--blue) !important;
}
span.hljs-attr {
  color: var(--fg) !important;
}
span.hljs-string {
  color: var(--yellow) !important;
}
span.hljs-number {
  color: var(--purple) !important;
}
span.hljs-symbol {
  color: var(--orange) !important;
}
span.hljs-meta {
  color: var(--fg) !important;
}
span.hljs-meta-keyword {
  color: var(--pink) !important;
}
span.hljs-meta-string {
  color: var(--orange) !important;
}

/**/

/* --[ Fuck Off Discord ]---------------------------------------------------- */
/* .buttons-3dF5Kd { opacity: 1 !important; }*/
/* no super reacts */
[aria-label="Add Super Reaction"] { display: none }
.button-3bklZh { padding: 4px 4px 4px 40px }
/* Get rid of sticker/gift nitro/etc buttons */
.buttons-uaqb-5 > div:not(:last-child),
.buttons-uaqb-5 > button {
  display: none;
}


/* this emoji is popular */
.badgeLabel-2Eo2Mq {
  display: none;
}


/* this server is partnered */
.guildIconContainer-3QvE6w {
  display: none;
}

/* that folder of servers i want to leave */
.wrapper-38slSD {
  display: none;
}
/* add new servers */
.tutorialContainer-2jwoiB {
  display: none;
}


/* --- [ Blocked Messages ] --- */
/* Aesthetic tweaks to the blocked message indicator */
.blockedSystemMessage-3FmE9n {
   display: flex;
   justify-content: center;
}
.blockedMessageText-3Zeg3y:before {
    content:  "— ";
}
/* Remove the X next to a blocked message */
.iconContainer-2rPbqG {
    display: none;
}
/* Remove the "show blocked message" button, because mental health good */
span.blockedAction-2cPk2G {
    display: none
}

/* Fixing stuff like accent colours */

/* x unread messags bar thingie */
.barButtonBase-Sk2mdB {
  color: var(--accent-fg) !important;
}

/* -- Channel List -- */

/* Channel defaults  */
.spine-29OFwR {
  color: var(--special) !important;
  z-index: 1 !important; 
}
.spineBorder-1-F4s1 {
  background: var(--special) !important;
  z-index: 1 !important;
}

.icon-2W8DHg {
  color: var(--accent) !important;
}
  /* Channel hover */
.wrapper-NhbLHG:hover,
.wrapper-NhbLHG:focus-within {
  background: var(--hilight) !important;
}
.wrapper-NhbLHG:hover .name-28HaxV,
.wrapper-NhbLHG:focus-within .name-28HaxV{
  color: var(--fg);
}
.wrapper-NhbLHG:focus-within .mainContent-20q_Hp {
  outline: none !important;
}

.modeSelected-3DmyhH .link-1_kTxV {
  background: var(--accent) !important;
}

.modeSelected-3DmyhH:hover .link-1_kTxV {
  background: var(--accent-alt) !important;
}
/* Selected channel hover*/
.wrapper-NhbLHG.modeSelected-3DmyhH:hover,
.wrapper-NhbLHG.modeSelected-3DmyhH:focus-within {
  background: var(--accent-alt) !important;
}
.modeSelected-3DmyhH:hover .name-28HaxV,
.modeSelected-3DmyhH:focus-within .name-28HaxV,
{
  color: var(--accent-alt-fg) !important;
}

/* Unread channel hover*/
.wrapper-NhbLHG.modeUnread-3Cxepe:hover,
.wrapper-NhbLHG.modeUnread-3Cxepe:focus-within {
  background: var(--hilight) !important;
}

.modeUnread-3Cxepe:hover .unread-36eUEm,
.modeUnread-3Cxepe:focus-within .unread-36eUEm {
  background-color: var(--accent-alt) !important;
}

.modeUnread-3Cxepe:hover .icon-2W8DHg,
.modeUnread-3Cxepe:focus-within .icon-2W8DHg {
  color: var(--accent-alt) !important
}

/* Current channel */
.modeSelected-3DmyhH {
  color: var(--accent-fg) !important;
  background: var(--accent) !important;
}

.modeSelected-3DmyhH .name-28HaxV {
  color: var(--accent-fg) !important;
}
.modeSelected-3DmyhH .icon-2W8DHg {
  color: var(--accent-fg) !important
}


.modeSelected-3DmyhH .icon-2W8DHg,
.selected-2TbFuo > div > div > div > div > svg {
  color: var(--accent-fg) !important;
}


/* unread channel*/
.modeUnread-3Cxepe {
  background: var(--hilight) !important;
}
.modeUnread-3Cxepe .name-28HaxV {
   color: var(--fg) !important
}
.modeUnread-3Cxepe:hover,
.wrapper-NhbLHG:hover .modeUnread-3Cxepe {
  background: var(--accent-fg) !important;
}
/* Removes extra highlight on current channel*/
.modeSelected-3DmyhH .content-1gYQeQ, 
.modeSelected-3DmyhH:hover .content-1gYQeQ,
.wrapper-NhbLHG:hover .content-1gYQeQ {
  background: none !important
}
/* Unread indicator dot */
.unread-36eUEm {
  height: 34px !important;
  margin-top: -4px !important
}
/* muted channel */
.modeMuted-2T4MDZ .icon-2W8DHg {
  color: var(--interactive-muted) !important;
}

/* Bot tags */
.botTagVerified-2KCPMa,
.botText-1fD6Qk {
  color: var(--accent-fg) !important;
}

/* x in voice popup at the bottom of channel list */
.containerPadding-Mt19ap {
  padding: 2% 10% !important;
  margin: 0 !important;
  background: var(--hilight) !important;
  width: 83% !important;
}
.bar-wDIGjg {
  background-color: transparent !important;
  padding: 0 !important;
  border-radius: 0 !important;
}
/* speaker icon */
/*.container-24rGVp.bottom-29W7pW > div > div > svg > path {*/
.voiceChannelsIcon-2smmeE > path {
  fill: var(--green) !important;
}
.voiceChannelsIcon-2smmeE {
  padding-left: 28px !important;
}
/* preview of users*/
.voiceChannelsUsers-17lGHe {
  display: none !important;
}

/* new unreads */
.container-1qIct8 {
  padding: 0 !important;
}
.unread-2wipsx {
  opacity: 1 !important;
  border-radius: 0 !important;
}
.container-1qIct8,
.bar-2eAyLE {
  height: 34px !important;
}

.bar-wDIGjg {
  padding-left: 14px !important;
}
/* stops the channel list being slightly too narrow */
#channels {
  overflow: overlay !important;
  overflow-x: hidden !important;
}


/* chat window */
/* spoilers */
.theme-dark .spoilerText-2G40u0.hidden-2lQZ5q {
  border-radius: 0 !important; 
  border: 3px solid var(--bg) !important;
}
.theme-dark .spoilerText-2G40u0.hidden-2lQZ5q:hover {
  border: 3px solid var(--accent) !important;
  background-color: var(--lolight) !important; 
}
.theme-dark .spoilerText-2G40u0 {
  border: 3px solid var(--bg) !important;
  background-color: var(--lolight) !important;
}

/* Sengi */
/* Wider columns */
.main-display[_ngcontent-c9] { padding: 0 0 0 25% }
/* main column*/
.main-display__stream-column[_ngcontent-c9] { width: 65% }
/* last (notif) column*/
.main-display__stream-column[_ngcontent-c9]:last-of-type { width: 35% }

/* Regular columns */
.stream-statuses[_ngcontent-c10],
.stream-column[_ngcontent-c10],
.sliding-column[_ngcontent-c10] { width: 100% }
/* Column header*/
.stream-column__stream-header[_ngcontent-c10] {
  width: 100%;
  height: 60px;
}

/* New post, settings etc column */
.floating-column[_ngcontent-c5] { width: 25% }
app-add-new-status > div { width: 90% !important }
/* New post title */
.panel__title[_ngcontent-c28] { margin: 4px 0 25px 5px }

/* Hide footer */
app-streams-selection-footer[_ngcontent-c0] { display: none }
#display-zone[_ngcontent-c0] { bottom: 0 }

/* View account etc */
.sliding-column.sliding-column__right-display { 
  width: 100%;
  margin-left: 50%
}
.stream-overlay[_ngcontent-c10] { width: 100% }
.overlay-close[_ngcontent-c11] { margin-right: 30px }
