[Desktop Entry]
Exec=/usr/bin/xterm -geometry 100x41 -class tmux -e "~/.tmux/plugins/rat_scripts/autostart.sh"
Name=tmux
Comment=A preconfigured tmux session for clients
Type=Application
